.container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: linear-gradient(
        0deg,
/*         #280242ef,
        #3c009ce3 */
        #290c1ab7,
        #971075e3
        ), url(../img/background.png);
    background-position: left;
    background-size: cover;
}

.table, .message {
    position: absolute;
    width: min(800px, 100vw);
    height: min(800px, 100vw);
    border-radius: min(5px, 1vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 .5vw rgba(0, 225, 255, 0.5);
}

.table {
    background-image: linear-gradient(
        0deg,
        #0d56aaec,
        #1ca1df,
        #0d56aaec
        ), url(../img/background2.jpg);
    background-position: center;
    background-size: 150%;
    z-index: 400;
}

.message {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 500;
    background-position: -150%;
    background-size: 150%;
    opacity: 0;
    transition: .2s;
}

.victory {
    background-image: linear-gradient(
        0deg,
        #0d56aa,
        #1ca1df,
        #0d56aa
    ), url(../img/background2.jpg);
}

.tie {
    background-image: linear-gradient(
        0deg,
        #aa660d,
        #dfa51c,
        #aa660d
    ), url(../img/background2.jpg);
}

.defeat {
    background-image: linear-gradient(
        0deg,
        #99001a,
        #e70032,
        #99001a
    ), url(../img/background2.jpg);
}

@keyframes message {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes msg {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.message__result {
    padding: min(10px, 1vw) min(50px, 5vw);
    transform: rotate(0deg) scale(1);
    border: min(2px, 1vw) solid #ffffffa2;
    border-radius: 90% 10% 90% 10% / 0% 100% 0% 100%;
    font-size: min(25px, 5vw);
    font-weight: 800;
    font-style: italic;
    transition: .5s;
    position: absolute;
}

.message__result-victory {
    background: linear-gradient(45deg, #002958, #1673ff, #002958);
}

.message__result-defeat {
    background: linear-gradient(45deg, #58001d, #ff3916, #58001d);
}

.message__result-tie {
    background: linear-gradient(45deg, #5d1d00, #9b5c35, #5d1d00);
}

@keyframes animationRotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(4deg) scale(1.5);
    }
}

@keyframes animationMsg {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(4deg) scale(1.5);
    }
}

.message__result--h2 {
    color: #fff;
    font-size: min(50px, 10vw);
    background-image: linear-gradient(90deg, #ffffff, #00fff2b9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
}

.table__area {
    width: 100%;
    height: 50%;
    display: flex;
}

.table__area--turn {
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
    border: 0;
}

.message__result--btn {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-top: auto;
}

.message__result--btn div {
    border: 1px solid black;
    padding: min(50px, 5vw);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, #1c71df00, #ffffff2f, #1c71df00);
    border-top: min(5px, 1vw) solid;
    border-bottom: min(5px, 1vw) solid;
    border-image: radial-gradient(circle,#000000, #0c5d9f00 80%) 50;
}

.message__result--btn-backmenu, .message__result--btn-newgame {
    border-radius: min(500px, 10vw);
    padding: min(50px, 1vw);
    text-decoration: none;
    font-size: min(25px, 5vw);
    font-weight: 800;
    color: #fff;
    border: min(1px, .5vw) solid #ffffff;
    background: linear-gradient(45deg, #00000067, #00000024, #00000067);
}