.container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: linear-gradient(
        0deg,
/*         #280242ef,
        #3c009ce3 */
        #290c1ab7,
        #971075e3
        ), url(../img/background.png);
    background-position: left;
    background-size: cover;
}

.table, .message {
    position: absolute;
    width: min(800px, 100vw);
    height: min(800px, 100vw);
    border-radius: min(5px, 1vw);
    box-shadow: 0 0 .5vw rgba(0, 225, 255, 0.5);
}

.table {
    background-image: linear-gradient(
        0deg,
        #0d56aaec,
        #1ca1df,
        #0d56aaec
        ), url(../img/background2.jpg);
    background-position: center;
    background-size: 150%;
    z-index: 400;
}

.message {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 500;
    background-position: -150%;
    background-size: 150%;
    opacity: 0;
    transition: .2s;
}

.victory {
    background-image: linear-gradient(
        0deg,
        #0d56aa,
        #1ca1df,
        #0d56aa
    ), url(../img/background2.jpg);
}

.defeat {
    background-image: linear-gradient(
        0deg,
        #99001a,
        #e70032,
        #99001a
    ), url(../img/background2.jpg);
}

@keyframes message {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.message__result {
    padding: min(10px, 1vw) min(50px, 5vw);
    transform: rotate(0deg) scale(1);
    border: min(2px, 1vw) solid #ffffffa2;
    border-radius: 90% 10% 90% 10% / 0% 100% 0% 100%;
    font-size: min(25px, 5vw);
    font-weight: 800;
    font-style: italic;
    transition: .5s;
}

.message__resultVictory {
    background: linear-gradient(45deg, #002958, #1673ff, #002958);
}

.message__resultDefeat {
    background: linear-gradient(45deg, #58001d, #ff3916, #58001d);
}

@keyframes animationRotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(4deg) scale(1.5);
    }
}

.message__result--h2 {
    color: #fff;
    font-size: min(50px, 10vw);
    background-image: linear-gradient(90deg, #ffffff, #00fff2b9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
}

.table__area {
    width: 100%;
    height: 50%;
    display: flex;
}

.table__area--turn {
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
}